main {
    width: 40%;
    height: 450px;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 10px;
}
header {
    background-color: rgb(43, 40, 40);
    height: 50px;
    margin-bottom: 75px;
}
.menu-btn {
    background-color:  rgb(43, 40, 40);
    border: none;
    width: 15%;
    padding: 0px;
    height: 50px;
    border-right: 1px solid black;
    margin-right: 20px;
}
.menu-container {
    display: flex;
    margin-left: 20px;
}
.left_section {
    display: flex;
}
.search_container {
    display: flex;
    margin-left: 47px;
    width: 20%;
    justify-content: space-around;
}
.gray {
    color: darkgray;
}
.lupa {
    margin-top: 16px;
}
.bell-container {
    display: flex;
}
.bell {
    width: 22px;
    margin-top: 3px;
}
.girl {
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.right_section {
    position: relative;
    left: 75%;
    bottom: 76%;
    height: 0px;
}
.strelka {
    margin-top: 6px;
}
.transition {
    display: flex;
    border-bottom: 1px solid rgb(189, 185, 185);
    justify-content: space-between;
}
.add_new {
    display: flex;
   background-color: blue;
   border: none;
   border-radius: 5px;
   color: aliceblue;
   height: 42px;
   margin-top: 7px;
   margin-right: 20px;
   margin-bottom: 7px;
}
.plus {
    margin: 0px;
    font-size: 28px;
    margin-top: 3px;
}
.title_btn {
    margin: 0px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}
.file_selection {
    justify-content: space-around;
    margin-left: 15px;
    display: flex;
    width: 30%;
}
.files {
    font-size: 18px;
    text-decoration: none;
    color: darkgray;
    margin-top: 19px;
}
.users {
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-top: 19px;
    font-weight: bold;
}
.search {
    background-image: url("images/lupa.png");
    background-repeat: no-repeat;
    height: 48px;
    outline: none;
    border: none;
    background-color:  rgb(43, 40, 40);
    background-position: 4px;
    padding-left: 35px;
    color: beige;
}
.sort {
    justify-content: space-between;
}
.sort_setting {
    margin-left: 25px;
}
.sort_list {
    margin-right: 15px;
}
.sort_list img {
    width: 25px;
    margin-left: 5px;
}
.flex {
    display: flex;
}
.sort_title {
   color: rgb(189, 185, 185);
   font-size: 18px;
   margin-right: 5px;
}
.last_online {
    font-weight: bold;
    font-size: 18px;
}
.arrow {
    margin-top: 4px;
}
.foto {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}
.human_list {
    margin-top: 10px;
}
.human_container {
    justify-content: space-between;
    margin-left: 23px;
    margin-bottom: 18px;
}
.human_name {
    margin: 0px;
    font-weight: bold;
}
.human_edit1 {
    color: darkgray;;
}
.human_edit2 {
    font-weight: 600;
    color: rgb(151 151 249);
}
.bold {
    font-weight: bold;
    margin: 0px;
    margin-top: 6px;
}
.human_container_piece2 {
    margin-right: 10px;
}
.border {
    border: 2px solid #cf6ccf;
}