main {
    width: 40%;
    height: 600px;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 10px;
}
header {
    background-color: rgb(43, 40, 40);
    height: 50px;
}
.menu-btn {
    background-color:  rgb(43, 40, 40);
    border: none;
    width: 15%;
    padding: 0px;
    height: 50px;
    border-right: 1px solid black;
    margin-right: 20px;
}
.menu-container {
    display: flex;
    margin-left: 20px;
}
.left_section {
    display: flex;
}
.search_container {
    display: flex;
    margin-left: 47px;
    width: 20%;
    justify-content: space-around;
}
.gray {
    color: darkgray;
}
.lupa {
    margin-top: 16px;
}
.bell-container {
    display: flex;
}
.bell {
    width: 22px;
    margin-top: 3px;
}
.girl {
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.right_section {
    position: relative;
    left: 75%;
    bottom: 76%;
    height: 0px;
}
.strelka {
    margin-top: 6px;
}
.transition {
    display: flex;
    border-bottom: 1px solid rgb(189, 185, 185);
    justify-content: space-between;
}
.add_new {
    display: flex;
   background-color: blue;
   border: none;
   border-radius: 5px;
   color: aliceblue;
   height: 42px;
   margin-top: 7px;
   margin-right: 20px;
}
.plus {
    margin: 0px;
    font-size: 28px;
    margin-top: 3px;
}
.title_btn {
    margin: 0px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}
.file_selection {
    justify-content: space-around;
    margin-left: 15px;
    display: flex;
    width: 30%;
}
.files {
    font-size: 18px;
    font-weight: bold;
}
.users {
    font-size: 18px;
    color: darkgray;
}
.search {
    background-image: url("images/lupa.png");
    background-repeat: no-repeat;
    height: 48px;
    outline: none;
    border: none;
    background-color:  rgb(43, 40, 40);
    background-position: 4px;
    padding-left: 35px;
    color: beige;
}

